<form
	enctype="application/x-www-form-urlencoded"
	method="POST">
	<input type="hidden" name="action" value="ban">
	<input type="text" name="name" placeholder="Username">
	<input style="background: red; color: white;" type="submit" value="Ban">
</form>

<br />

<form
	enctype="application/x-www-form-urlencoded"
	method="POST">
	<input type="hidden" name="action" value="unban">
	<input type="text" name="name" placeholder="Username">
	<input style="background: green; color: white;" type="submit" value="Unban">
</form>